<%= link_to 'Logout', logout_path %>

<p><%= link_to 'Photos', user_photos_path(current_user) %></p>

<p><%= link_to 'Authorized Third-Party Apps', oauth_tokens_path %></p>

<p>Are you an app developer</p>
<p><%= link_to 'Signup with our OAuth API account!', oauth_clients_path %></p>